# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Segurança
JWT_SECRET=sigaz-pmbc-secret-key-mudar-em-producao-2026
JWT_EXPIRES_IN=8h

# Banco de Dados
DB_PATH=./backend/db/sigaz.db

# Upload
UPLOAD_DIR=./backend/uploads
MAX_FILE_SIZE=5242880
